*
!.gitignore
!README.md
!RELEASE.md
!CHANGELOG.md
!.github/
!.github/workflows/
!.github/workflows/dotnet-desktop.yml
!update/
!update/**
!build/
!build/**
!dotnet/
!dotnet/**
!src/
!src/**
src/data/
src/data/**
src/tests/result.txt
