*
!.gitignore
!README.md
!README.en-US.md
!RELEASE.md
!CHANGELOG.md
!favicon.ico
!.github/
!.github/workflows/
!.github/workflows/dotnet-desktop.yml
!update/
!update/**
!build/
!build/**
!dotnet/
!dotnet/**
dotnet/artifacts/
dotnet/**/bin/
dotnet/**/obj/
!src/
!src/**
src/data/
src/data/**
src/tests/result.txt
